[variables]
    NIXPACKS_PHP_ROOT = "public"
    NIXPACKS_PHP_VERSION = "8.5"

[phases.build]
    dependsOn = ["setup"]
    # Instalamos dependencias de PHP y JS, y compilamos assets con Vite
    cmds = ["composer install --no-dev --optimize-autoloader", "npm install", "npm run build"]

[phases.postbuild]
    dependsOn = ["build"]
    # Limpiamos caché y optimizamos para producción
    cmds = ["php artisan optimize", "php artisan view:cache"]
